doctype html
html(lang="en")
  head
    title Landing Page
  body
     h1 The future Home of something magical!
     p Grapes nest pitch fork an plows maple syrup yearlings, quilt squeak doggies. Lamb pig rooster sheep. Rooster celery pineapples fertilizer, a melon chirp pets in. Pick up truck livestock, pets and storage shed, troughs feed bale manure, is garden wheat oats at augers. Shovels at rakes plows. Lamb pig rooster sheep. Ewes fox, ha.